# Fichiers d'environnement
.env

# Fichiers Python compilés et caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg

# Fichiers Docker
.dockerignore
docker-compose.override.yml

# Fichiers de configuration de l'IDE
.idea/

# Dossier pour les fichiers uploadés
/photohub/static/uploads/
