services:
  web:
    build: .
    ports:
      - "5001:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=run.py
      - DATABASE_URL=postgresql://user:password@db:5432/photohub_db
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=photohub_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
